<form class="form-horizontal">
  <header class="text-center">
    <h2>Register Organization</h2>
  </header>
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" id="inputTitle" placeholder="Launchschool">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button id="submit-registration" type="submit" class="btn btn-primary">Register</button>
      <a id="cancel-registration" class="btn" href="#">Cancel</a>
    </div>
  </div>
</form>