{{> shared/_header }}

<main class="board">
  <div id="lists-container" class="content-container">
    <!-- generated pn load by board view-->
  </div>
</main>

<div id="modal-container" class="off">
  <!-- generated on card click -->
</div>

  