<header class="board-head">
  <nav>
    <div id="logo">
      <h1>Mrello</h1>
    </div>
    <div id="search-bar">
      <label for="search-bar">
        <input class="button-outline" type="text" name="search-bar">
        <i class="glyphicon glyphicon-search"></i>
      </label>
    </div>
  </nav>
</header>
<main class="board">
  <div id="lists-container" class="content-container">
    <!-- generated pn load by board view-->
  </div>
</main>

<div id="modal-container" class="off">
  <!-- generated on card click -->
</div>

  