<div class="board-tile">
  <a href="#" id="cancel-create-board">X</a>
  <label for="board-title">
    <input type="text" name="board-title">
  </label>
  <a href="#" id="create-board">Submit</a>
</div>