<div class="board-tile">
  <a href="#" class="pull-right" id="cancel-create-board">X</a>
  <label for="board-title">
    Enter Board Title:
    <input type="text" name="board-title">
  </label>
  <a href="#" class="btn" id="create-board">Submit</a>
</div>