<nav id="nav-aside-left"> 
  <div id="info">{{stateInfo}}</div>
</nav>

<nav>
  <div id="search-container">
      {{!-- generated --}}
  </div>
  <div id="logo">
    <h1>Mrello</h1>
  </div>
</nav>

<nav id="nav-aside-right">
{{!-- generated --}}
</nav>
