<nav>
  <div class="pull-left">Your Boards</div>
  <div id="logo">
    <h1>Mrello</h1>
  </div>
  {{#if board }}
    <div id="search-bar">
      <label for="search-bar">
        <input class="button-outline" type="text" name="search-bar">
        <i class="glyphicon glyphicon-search"></i>
      </label>
    </div>
  {{/if}}
</nav>

{{#if session }}
  <nav id="nav-aside">
    {{#unless board}}
    <div id="view-board" class="btn">
      <a href="#">Board</a>
    </div>
    {{/unless}}

    {{#if admin}}
      {{#if hasOrganization }}
      <div id="manage-org" class="btn">
        <a href="#">Your Organization</a>
      </div>
      {{else}}
      <div id="create-org" class="btn">
        <a href="#">Create Organization</a>
      </div>
      {{/if}}
    {{/if}}

    {{#unless admin}}
      {{#if hasOrganization }}
      <div id="view-org" class="btn">
        <a href="#">Your Organization</a>
      </div>
      {{else}}
      <div id="join-org" class="btn">
        <a href="#">Join Organization</a>
      </div>
      {{/if}}
    {{/unless}}

  </nav>
{{/if}}