<div class="list-wrapper">
  <div class="list mod-add">
    <input class="title-input" type="text" placeholder="Add a List...">
    <a class="button" href="#">Save</a>
    <a class="cancel" href="#"></a>
  </div>
</div>
