<main>
  <div class="window">
    <header class="window-header text-center">
      <h2>{{title}}</h2>
    </header>

    <ul id="organizations-index">
      {{!-- generated --}}
    </ul>
  </div>
</main>