<main>
  <div id="join-requests" class="window">
    <header class="window-header text-center">
      <h2>Approve Requests</h2>
    </header>

    <ul id="join-requests-index">
      {{!-- generated --}}
    </ul>
  </div>
</main>