/*General Modal Styling*/
#modal-container:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 1; }

.window-header {
  margin: 4px 40px 4px 38px;
  padding: 9px 9px 0;
  position: relative;
  z-index: 1;
}

.window-column {
  padding: 8px;
}

.mod-window-cancel {
  position: absolute;
  top: 0px;
  right: -42px;
}

.mod-window-heading {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  height: 22px;
}

.open-in-header {
  text-decoration: underline;
}

.window-module-header {
  margin: 4px 32px 4px 30px;
  padding: 9px 9px 0;
}

.window-module {
  margin-bottom: 20px;
}

.module-content {
  margin: 4px 32px 4px 30px;
  padding: 9px 9px 0;
}

.window-input {
  color: grey;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
}

/*Card Editor Modal Styles*/
#card-editor {
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  width: 450px;
  padding-bottom: 24px;
  margin-left: -225px; 
  z-index: 2;
  border-radius: 3px;
  background: #E2E4E6;
}

#card-editor i {
  position: absolute;
  left: -33px;
}

.card-details {
  margin: 4px 40px 4px 38px;
  padding: 9px 9px 0;
}

.card-details textarea {
  border-radius: 3px;
  resize: none;
  padding: 8px;
  width: 100%;
}

.checklist-input-box {
  margin-bottom: 4px;
}

.comments {}
.comment {
  position: relative;
  padding: 6px 8px 4px 8px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 8px;
}

.checklists {}
.checklist {

}