@import 'https://fonts.googleapis.com/css?family=Modak';

header #logo h1 {
  font: 22px bold;
  font-family: 'Modak', cursive;
  color: #4997D2;
}

nav {
  display: inline-block;
}

nav #logo, #search-bar {
  display: inline-block;
  margin: 3px 6px;
}

.glyphicon-search {
  color: white;
  transform: rotate(90deg); 
}

#search-bar {
  background-color: #4C94BF;
  border-radius: 3px;
  padding-right: 6px;
}

#search-bar input{
  height: 30px;
  padding: 0 6px;
  background-color: inherit;
  color: white;
  border-radius: 3px;
}

header.board {
  position: fixed;
  width: 100%;
  height: 40px;

  text-align: center;
  background-color: #0067A3;
}

main.board {
  display: flex;
  flex-direction: row;
  padding: 88px 5px 44px 5px;
}

.content-container {
  vertical-align: top;
  height: 100%; 
}



