@import 'https://fonts.googleapis.com/css?family=Modak';

header #logo h1 {
  font: 22px bold;
  font-family: 'Modak', cursive;
  color: #4997D2;
}

nav {
  display: inline-block;
}

nav #logo, #search-bar {
  display: inline-block;
  margin: 3px 6px;
}

.glyphicon-search {
  color: white;
  transform: rotate(90deg); 
}

#search-bar {
  background-color: #4C94BF;
  border-radius: 3px;
  padding-right: 6px;
}

#search-bar input{
  height: 30px;
  padding: 0 6px;
  background-color: inherit;
  color: white;
  border-radius: 3px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 44px 5px 44px 5px;
}

.content-container {
  vertical-align: top;
  height: 100%; 
}

#lists-container {
  display: flex;
  flex-direction: row;
}

.add-list {
  display: block;
  font-size: 14px;
  height: 40px;
  color: #4C94BF;
  background-color: rgba(0,0,0,.15);
  padding: 11px 8px 8px 8px;
}

.add-list:hover {
  height: 40px;
  background-color: rgba(0,0,0,0.3);
}

.list.mod-add {
  height: auto;
  min-height: 30px;
  padding: 4px;
}

