/*Global Styles*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a:hover {
  cursor: pointer;
}

html, body, main {
  background-color: $bg-color;
}

body * {
  font-family: arial, Helvetica;
}

body {
  display: flex;
  color: $text-primary-color;
  font: $font-size "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 18px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }

.off{ display: none; }

#app-container {
  width: 100%
}
