input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:hover {
  cursor: pointer;
}

html, body, main {
  background-color: #0079BF;
}

body * {
  font-family: arial, Helvetica;
}

body {
  color: #4d4d4d;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 18px;
}

.off{ display: none; }



