.title-input {
  display: block;
  width: 100%;
  min-height: 30px;
  padding: 0 4px;
  margin: 0;
  transition: margin 85ms ease-in,background 85ms ease-in;
  background: rgba(0,0,0,.05);
  border-color: #aaa;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
}

.button {
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  min-height: 30px;
  margin-top: 4px;
  padding: 4px 20px;
  border-radius: 3px;
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  color: #fff;
}

.button:hover {
  background: linear-gradient(to bottom,#5AAC44 0,#519839 100%);
}

.cancel {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  margin-left: 4px;
}

.cancel:before, .cancel:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background-color: #4d4d4d;
}

.cancel:before {
  transform: rotate(45deg);
}

.cancel:after {
  transform: rotate(-45deg);
}