@import 'https://fonts.googleapis.com/css?family=Modak'

header #logo h1 
  font: 22px bold
  font-family: 'Modak', cursive
  color: #4997D2

nav #logo, #search-bar, #nav-aside 
  display: inline-block
  margin: 4px 6px

nav#nav-aside
  top: 0
  right: 0
  position: fixed

.glyphicon-search 
  color: white
  transform: rotate(90deg) 


#search-bar 
  vertical-align: middle
  background-color: #4C94BF
  border-radius: 3px
  padding-right: 6px


#search-bar input
  padding: 0 6px
  margin: 4px
  outline: none
  border: none
  background-color: inherit
  color: white
  border-radius: 3px


.content-container 
  vertical-align: top
  height: 100% 




