/*Global Variables*/
$bg-color: #0079BF

// TODO: refactor to object to window bg color
$object-bg-color: #E2E4E6 
$card-bg-color: white
$action-object-color: white

$text-primary-color: #4d4d4d
$font-size: 14px

// Application Styles
@import "global"
@import "layouts"
@import "inputs"
@import "forms"
@import "modal"

@import "board"
@import "list"
@import "card"
@import "organizations"