$organizations-width: 40%

#organizations-window
  width: $organizations-width
  top: 100px
  position: fixed
  left: 50% - ($organizations-width / 2)

  margin: 10px
  background-color: $object-bg-color
  border-radius: 4px
  padding: 4px

  header
    text-decoration: underline

#organizations-index
  margin: 24px

.organization 
  margin: 10px 8px
  padding: 10px 20px
  background: white
  border-radius: 4px

  h2, a
    display: inline-block

  h2
    line-height: 30px