<form class="form-horizontal">
  <header class="text-center">
    <h2>Login</h2>
  </header>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="email@ex.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button id="submit-login" type="submit" class="btn">Register</button>
      <a id="navigate-to-registration" class="btn btn-primary" href="#">Login</a>
    </div>
  </div>
</form>