<header class="page-head board-head">
  <nav>
    <div id="logo">
      <h1>Mrello</h1>
    </div>
    {{#if session }}
      <div id="search-bar">
        <label for="search-bar">
          <input class="button-outline" type="text" name="search-bar">
          <i class="glyphicon glyphicon-search"></i>
        </label>
      </div>
    {{/if}}
  </nav>
</header>